.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #95b3ef;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  min-height: 100vh;
  justify-content: center;
}

.Menu-icon {
  background: #95b3ef;
}